
@{
    ViewData["Title"] = "AssignRole";
}



    

    <h1 class="text-center">Assign Role</h1>

    <Div class="row">
        <h4 class="text-primary text-center">
            @ViewBag.msg
        </h4>
    </Div>

    @*<div class="row">
            <div class="col-md-4">
                <form asp-action="AssignRole" asp-controller="Role" method="post">
                    <label>User List:</label>
                    <select name="userdata" class="form-control">
                        <option>---Select User--</option>
                        @foreach (var u in ViewBag.users)
                        {
                            <option value="@u.Email">@u.Email</option>
                        }
                    </select><br />

                    <label>Role List:</label>
                    <select name="userdata" class="form-control">
                        <option>---Select Role--</option>
                        @foreach (var u in ViewBag.roles)
                        {
                            <option value="@u.NormalizedName">@u.NormalizedName</option>
                        }
                    </select><br />
                    <button class="btn btn-success" type="submit">Assign Role</button>
                </form>
            </div>
        </div>*@

    @*//this part of code is externally added....!!!*@

    <div class="row my-5">
        <div class="col-md-4">
            <form asp-action="AssignRole" asp-controller="Role" method="post">
                <label>User List :</label>
                <select name="userdata" class="form-control">
                    <option>---Select User---</option>
                    @foreach (var u in ViewBag.users)
                    {
                        <option value="@u.Email">@u.Email</option>
                    }
                </select><br />
                <label>Role List :</label>
                <select name="roledata" class="form-control">
                    <option>---Select Role---</option>
                    @foreach (var u in ViewBag.roles)
                    {
                        <option value="@u.NormalizedName">@u.NormalizedName</option>
                    }
                </select><br />
                <button class="btn btn-dark" type="submit">Assign Role</button>
            </form>
        </div>
        <div class="col-md-8">
            <img class="img-fluid" src="~/image/RoleManager.svg" />
        </div>
    </div>

