@model work_01.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>

<div class="col-md-12 text-center py-5">
    @{
        var b64 = Convert.ToBase64String(Model.Image);
        var imageSource = String.Format("data:image/jpg;base64,{0}", b64);
    }
    <img src="@imageSource" alt="Product Image" style="max-width: 200px;" />
</div>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-dark" asp-action="Index">Back to List</a>
    </div>

    <div class="col-md-6">
        <form asp-action="AddToCart" class="form-inline" method="post">
            <input type="hidden" name="pid" value="@Model.Id" />
            <input type="number" name="qty" value="1" class="form-control" style="width: 16rem;" />
            <button class="btn btn-primary btn-sm m-1" type="submit">Add to cart</button>
        </form>
    </div>
</div>

